html{
	min-height: 1020px;
	width: 80%;
}

body{
	min-width: 800px;
	max-width: 900px;
	margin-right: 200px;
	margin-left: 200px;
	background-size: 50px 60px;
	background: rgba(128,128,128, 0.5);
	background-repeat: no-repeat;
}

img{
	position: relative;
	float: right;
	right: 0px;
	transform: rotate(-2deg);
	top: -80px;
}

h1 {
	border-bottom: 1px solid black; 
	font-size: 60px;
	font-weight: bold;
}

#description{
	width: 400px;
}

h2{
	font-size: 25px;
	
}

h3{
	float: left;
	text-align: right;
	padding-right: 50px;
	height: 70px;
	width: 90px;
	padding-left: 80px;
	padding-top: 20px;
	border-right: thin solid black;

}

#skills{
	width: 90px;
	height: 180px;
}

ul{
	list-style: none;
	padding-top: 12px;
	padding-left: 250px;
}

#employment{
	list-style-type: disc; 
}


